{% load static %}
<!--About Two Start -->
<section class="about-two" id="about">
	<div
    class="about-two__bg-shape"
    style="background-image: url('{% static "assets/images/shapes/about-two-bg-shape.png" %}');"
></div>

	<div class="container">
		<div class="row">
			<div class="col-xl-7">
				<div
					class="about-two__left wow slideInLeft"
					data-wow-delay="100ms"
					data-wow-duration="2500ms"
				>
					<div class="about-two__img-box">
						<div class="about-two__img">
							<img
								src="{% static 'assets/images/resources/about-two-img-1.png' %}"
								alt=""
							/>
						</div>
						<div class="about-two__shape-1">
							<img
								src="{% static 'assets/images/shapes/about-two-shape-1.png' %}"
								alt=""
							/>
						</div>
						<div class="about-two__shape-2">
							<img
								src="{% static 'assets/images/shapes/about-two-shape-2.png' %}"
								alt=""
							/>
						</div>
						<div class="about-two__shape-3 rotate-me">
							<img
								src="{% static 'assets/images/shapes/about-two-shape-3.png' %}"
								alt=""
							/>
						</div>
						{% comment %}
						<div class="about-two__client-box">
							<p class="about-two__client-text">
								“It is a long established fact that a reader will be distracted by
								the readable content of a page when looking at its layout.”
							</p>
							<div class="about-two__client-info">
								<div class="about-two__client-img">
									<img
										src="{% static 'assets/images/resources/about-two-client-img-1.png' %}"
										alt=""
									/>
								</div>
								<div class="about-two__client-content">
									<h3>Alisa Oliva</h3>
									<p>Web Designer</p>
								</div>
								<div class="about-two__client-quote">
									<span class="icon-quote"></span>
								</div>
							</div>
						</div>
						{% endcomment %}
						<div class="about-two__class-day">
							<div class="about-two__class-day-icon">
								<img
									src="{% static 'assets/images/icon/about-two-class-day-icon.png' %}"
									alt=""
								/>
							</div>
							<h3 class="about-two__class-title">Our Class Day</h3>
							<ul class="about-two__class-list list-unstyled">
								<li>
									<p>Monday</p>
									<span>10:00 - 16:00</span>
								</li>
								<li>
									<p>Tuesday</p>
									<span>10:00 - 16:00</span>
								</li>
								<li>
									<p>Wednesday</p>
									<span>10:00 - 16:00</span>
								</li>
								<li>
									<p>Thursday</p>
									<span>10:00 - 16:00</span>
								</li>
								<li>
									<p>Friday</p>
									<span>10:00 - 16:00</span>
								</li>
							</ul>
							<div class="about-two__class-btn-box">
								<a href="https://nicollege.com/courses.php" class="thm-btn"
									><span class="icon-circle-left"></span>Join now</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-5">
				<div class="about-two__right">
					<div class="section-title-two text-left sec-title-animation animation-style2">
						<div class="section-title-two__tagline-box">
							<div class="section-title-two__tagline-shape">
								<img
									src="{% static 'assets/images/shapes/section-title-two-shape-1.png' %}"
									alt=""
								/>
							</div>
							<span class="section-title-two__tagline">About Us</span>
						</div>
						<h2 class="section-title-two__title title-animation">
							Noorul Islam College of Arts and Science <span>NICAS</span>
						</h2>
					</div>
					<p class="about-two__text">
						Noorul Islam College of Arts and Science (NICAS), located in Kumaracoil,
						Kanyakumari, Tamil Nadu, is a private institute established in 2001,
						affiliated with Manonmaniam Sundaranar University, and offers a variety of
						undergraduate and postgraduate courses.
					</p>
					<ul class="about-two__points-list list-unstyled">
						<li>
							<div class="about-two__icon">
								<img
									src="{% static 'assets/images/icon/about-two-points-icon-1.png' %}"
									alt=""
								/>
							</div>



							<div class="about-two__content">
								<h3>Establishment:</h3>
								<p>
									NICAS was founded in 2001 by the Noorul Islam Educational Trust. 
								</p>
							</div>
						</li>
						<li>
							<div class="about-two__icon">
								<img
									src="{% static 'assets/images/icon/about-two-points-icon-2.png' %}"
									alt=""
								/>
							</div>
							<div class="about-two__content">
								<h3>Affiliation:</h3>
								<p>
									It is affiliated with Manonmaniam Sundaranar University, Tirunelveli. 
								</p>
							</div>
						</li>
						<li>
							<div class="about-two__icon">
								<img
									src="{% static 'assets/images/icon/about-two-points-icon-3.png' %}"
									alt=""
								/>
							</div>
							<div class="about-two__content">
								<h3>Accreditation: </h3>
								<p>
									The college has been accredited by NAAC with a 'B' grade and a CGPA of 2.66. 
								</p>
							</div>
						</li>
					</ul>
					<div class="about-two__client-and-btn-box">
						<div class="about-two__client-info-2">
							<div class="about-two__client-two-img">
								<img
									src="{% static 'assets/images/resources/about-two-client-two-img-1.png' %}"
									alt=""
								/>
							</div>
							<div class="about-two__client-two-content">
								<p>Have a Questions</p>
								<h4><a href="mailto:nicollege2001@yahoo.co.in">nicollege2001@yahoo.co.in</a></h4>
							</div>
						</div>
						<div class="about-two__btn-box">
							<a href="https://www.niuniv.com/contact.php" class="thm-btn-two">
								<span>Know More</span>
								<i class="icon-angles-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--About Two End -->
