{% load static %}

<!--Category Two Start -->
<section class="category-two" id="courses">
	<div class="container">
		<div class="section-title-two text-center sec-title-animation animation-style1">
			<div class="section-title-two__tagline-box">
				<div class="section-title-two__tagline-shape">
					<img
						src="{% static 'assets/images/shapes/section-title-two-shape-1.png' %}"
						alt=""
					/>
				</div>
				<span class="section-title-two__tagline">Category</span>
			</div>
			<h2 class="section-title-two__title title-animation">
				Explore Our World's Class <br />Best Courses <span>Categories</span>
			</h2>
		</div>
		<div class="row">
			<!--Category Two Single Start-->
			<div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="100ms">
				<div class="category-two__single">
					<div class="category-two__icon">
						<img src="assets/images/icon/categoyr-two-icon-1.png" alt="" />
					</div>
					<div class="category-two__single-inner">
						<p class="category-two__sub-title">UG Courses</p>
						<h3 class="category-two__title">
							<a href=""
								>Arts &<br />
								Social Science</a
							>
						</h3>
						<div class="category-two__btn-box">
							<a href="course-details.html" class="category-two__btn thm-btn"
								>View More<span class="icon-circle-left"></span
							></a>
						</div>
					</div>
				</div>
			</div>
			<!--Category Two Single End-->
			<!--Category Two Single Start-->
			<div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="300ms">
				<div class="category-two__single">
					<div class="category-two__icon">
						<img
							src="{% static 'assets/images/icon/categoyr-two-icon-2.png' %}"
							alt=""
						/>
					</div>
					<div class="category-two__single-inner">
						<p class="category-two__sub-title">UG Courses</p>
						<h3 class="category-two__title">
							<a href="course-details.html"
								>Computer <br />
								& IT</a
							>
						</h3>
						<div class="category-two__btn-box">
							<a href="course-details.html" class="category-two__btn thm-btn"
								>View More<span class="icon-circle-left"></span
							></a>
						</div>
					</div>
				</div>
			</div>
			<!--Category Two Single End-->
			<!--Category Two Single Start-->
			<div class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="500ms">
				<div class="category-two__single">
					<div class="category-two__icon">
						<img
							src="{% static 'assets/images/icon/categoyr-two-icon-3.png' %}"
							alt=""
						/>
					</div>
					<div class="category-two__single-inner">
						<p class="category-two__sub-title">UG Courses</p>
						<h3 class="category-two__title">
							<a href="course-details.html"
								>Hospitality & <br />
								Tourism</a
							>
						</h3>
						<div class="category-two__btn-box">
							<a href="course-details.html" class="category-two__btn thm-btn"
								>View More<span class="icon-circle-left"></span
							></a>
						</div>
					</div>
				</div>
			</div>
			<!--Category Two Single End-->
			<!--Category Two Single Start-->
			<div class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="700ms">
				<div class="category-two__single">
					<div class="category-two__icon">
						<img
							src="{% static 'assets/images/icon/categoyr-two-icon-4.png' %}"
							alt=""
						/>
					</div>
					<div class="category-two__single-inner">
						<p class="category-two__sub-title">UG Courses</p>
						<h3 class="category-two__title">
							<a href="course-details.html">Management & <br /> Administration</a>
						</h3>
						<div class="category-two__btn-box">
							<a href="course-details.html" class="category-two__btn thm-btn"
								>View More<span class="icon-circle-left"></span
							></a>
						</div>
					</div>
				</div>
			</div>
			<!--Category Two Single End-->
			<!--Category Two Single Start-->
			<div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="900ms">
				<div class="category-two__single">
					<div class="category-two__icon">
						<img
							src="{% static 'assets/images/icon/categoyr-two-icon-5.png' %}"
							alt=""
						/>
					</div>
					<div class="category-two__single-inner">
						<p class="category-two__sub-title">PG Courses</p>
						<h3 class="category-two__title">
							<a href="course-details.html">M.Sc & <br />Computer Science</a>
						</h3>
						<div class="category-two__btn-box">
							<a href="course-details.html" class="category-two__btn thm-btn"
								>View More<span class="icon-circle-left"></span
							></a>
						</div>
					</div>
				</div>
			</div>
			<!--Category Two Single End-->
			<!--Category Two Single Start-->
			<div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="1100ms">
				<div class="category-two__single">
					<div class="category-two__icon">
						<img
							src="{% static 'assets/images/icon/categoyr-two-icon-6.png' %}"
							alt=""
						/>
					</div>
					<div class="category-two__single-inner">
						<p class="category-two__sub-title">PG Courses</p>
						<h3 class="category-two__title">
							<a href="course-details.html">M.com <br />(Commerce)</a>
						</h3>
						<div class="category-two__btn-box">
							<a href="course-details.html" class="category-two__btn thm-btn"
								>View More<span class="icon-circle-left"></span
							></a>
						</div>
					</div>
				</div>
			</div>
			<!--Category Two Single End-->
			<!--Category Two Single Start-->
			<div class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="1300ms">
				<div class="category-two__single">
					<div class="category-two__icon">
						<img
							src="{% static 'assets/images/icon/categoyr-two-icon-7.png' %}"
							alt=""
						/>
					</div>
					<div class="category-two__single-inner">
						<p class="category-two__sub-title">PG Courses</p>
						<h3 class="category-two__title">
							<a href="course-details.html"
								>Bio  <br /> Technology
								</a
							>
						</h3>
						<div class="category-two__btn-box">
							<a href="course-details.html" class="category-two__btn thm-btn"
								>View More<span class="icon-circle-left"></span
							></a>
						</div>
					</div>
				</div>
			</div>
			<!--Category Two Single End-->
			<!--Category Two Single Start-->
			<div class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="1400ms">
				<div class="category-two__single">
					<div class="category-two__icon">
						<img
							src="{% static 'assets/images/icon/categoyr-two-icon-8.png' %}"
							alt=""
						/>
					</div>
					<div class="category-two__single-inner">
						<p class="category-two__sub-title">PG Courses</p>
						<h3 class="category-two__title">
							<a href="course-details.html">M.A <br />English</a>
						</h3>
						<div class="category-two__btn-box">
							<a href="course-details.html" class="category-two__btn thm-btn"
								>View More<span class="icon-circle-left"></span
							></a>
						</div>
					</div>
				</div>
			</div>
			<!--Category Two Single End-->
		</div>
	</div>
</section>
<!--Category Two End -->
