{% load static %}
	<!--Team Details Start-->
	<section class="team-details">
		<div class="container">
			<div class="row">
				<div class="col-xl-5">
					<div
						class="team-details__left wow slideInLeft"
						data-wow-delay="100ms"
						data-wow-duration="2500ms"
					>
						<div class="team-details__img">
							{% comment %} <img src="{% static 'assets/images/team/team-details-img-1.jpg' %}" alt="" /> {% endcomment %}
							<img src="{% static 'assets/images/team/principal.jpg' %}" alt="" />
						</div>
					</div>
				</div>
				<div class="col-xl-7">
					<div class="team-details__right">
						<div class="section-title-two__tagline-box">
							<div class="section-title-two__tagline-shape">
								<img
									src="{% static 'assets/images/shapes/section-title-two-shape-1.png' %}"
									alt=""
								/>
							</div>
							<span class="section-title-two__tagline">Principal</span>
						</div>
						
						<div class="team-details__name-and-ratting-box">
							
							<div class="team-details__name-box">
								<h3 class="team-details__name">Dr. R. MARIMUTHU</h3>
								<p class="team-details__sub-title">M.Com.,M.Phil.,Ph.D.,MBA,PGDPM & IR.,</p>
							</div>
							<div class="team-details__ratting-box">
								<ul class="team-details__ratting list-unstyled">
									<li>
										<span class="icon-star"></span>
									</li>
									<li>
										<span class="icon-star"></span>
									</li>
									<li>
										<span class="icon-star"></span>
									</li>
									<li>
										<span class="icon-star"></span>
									</li>
									<li>
										<span class="icon-star"></span>
									</li>
								</ul>
								<p class="team-details__ratting-text">(5.0 / 3.2 Rating)</p>
							</div>
						</div>
						<ul class="team-details__meta list-unstyled">
							<li>
								<div class="icon">
									<span class="fas fa-users"></span>
								</div>
								<div class="content">
									<p class="odometer" data-count="200">00</p>
									<span>+ Student Trinned</span>
								</div>
							</li>
							<li>
								<div class="icon">
									<span class="far fa-play-circle"></span>
								</div>
								<div class="content">
									<p class="odometer" data-count="76">00</p>
									<span> Courses</span>
								</div>
							</li>
							<li>
								<div class="icon">
									<span class="fas fa-graduation-cap"></span>
								</div>
								<div class="content">
									<p class="odometer" data-count="12">00</p>
									<span> Years Experiance</span>
								</div>
							</li>
						</ul>
						<h3 class="team-details__title">About</h3>
						<p class="team-details__text-1">
							Our college is affiliated to Manonmanium Sundaranar University, Tamilnadu since 14-07-2001. The college discharges its functions in accordance with the rules and regulations established by Manonmanium Sundaranar University and amended from time to time and instructions/ orders issued by Directorate of Higher Education, Government of Tamilnadu.
						</p>
						{% comment %} <div class="team-details__points-box">
							<h3 class="team-details__points-title">Education</h3>
							<ul class="team-details__points-list list-unstyled">
								<li>
									<div class="team-details__points-content">
										<div class="team-details__points-icon">
											<img
												src="{% static 'assets/images/icon/team-details-points-icon.png' %}"
												alt=""
											/>
										</div>
										<p class="team-details__points-text">
											Bachelor’s Degree in Computer Science <br />
											or a Related Field
										</p>
									</div>
									<p>Oxford University</p>
								</li>
								<li>
									<div class="team-details__points-content">
										<div class="team-details__points-icon">
											<img
												src="{% static 'assets/images/icon/team-details-points-icon.png' %}"
												alt=""
											/>
										</div>
										<p class="team-details__points-text">
											Optional Advanced Degree<br />
											Master’s or Certificate Program
										</p>
									</div>
									<p>Oxford University</p>
								</li>
							</ul>
						</div> {% endcomment %}
						<div class="team-details__have-question-and-social">
							<div class="team-details__have-question">
								<div class="team-details__have-question-icon">
									<span class="icon-contact"></span>
								</div>
								<div class="team-details__have-question-content">
									<p>Have a Questions</p>
									<h5>
										<a href="mailto:marimuthu@gmail.com">Marimuthu@gmail.com</a>
									</h5>
								</div>
							</div>
							<div class="team-details__have-question-social">
								<a href="#"><span class="fab fa-linkedin-in"></span></a>
								<a href="#"><span class="fab fa-pinterest-p"></span></a>
								<a href="#"><span class="fab fa-facebook-f"></span></a>
								<a href="#"><span class="fab fa-instagram"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Team Details End-->
